@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/NotoSans-Light.eot');
	src: local('☺'), url('../../fonts/NotoSans-Light.woff') format('woff'), url('../fonts/NotoSans-Light.ttf') format('truetype'), url('../fonts/NotoSans-Light.svg') format('svg');
	font-weight: light;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-Medium.eot');
	src: local('☺'), url('../fonts/NotoSans-Medium.woff') format('woff'), url('../fonts/NotoSans-Medium.ttf') format('truetype'), url('../fonts/NotoSans-Medium.svg') format('svg');
	font-weight: medium;
	font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%

}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wapper {
    display: flex;
    font-family: 'Noto Sans';
    font-weight: 300;
    color: rgb(90, 91, 93);
    height: 100vh;
    width: 100%;
     
    overflow: hidden;
    
}

.left button{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(234, 240, 252);
}
.left button:hover{
    background-color: rgb( 209, 229, 254) ;
}
.b1{
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b2{
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b3{
    background-image: url(../img/chat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b4{
    background-image: url(../img/people.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b5{
    background-image: url(../img/online-meeting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b6{
    background-image: url(../img/figures.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b7{
    background-image: url(../img/face-detection.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b8{
    background-image: url(../img/face-id.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}

.left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: max-content;
    border-right: 15px solid rgb(234, 240, 252);
    border-left: 15px solid rgb(234, 240, 252);
    background-color: rgb(234, 240, 252);
    
}
 
.topleft {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.menu {
    display: flex;
    
    margin-top: 15px;
}
.mail {
    margin-top: 25px;
    
}
.chat {
    margin-top: 25px;

}
.spaces {
    margin-top: 25px;
    
}
.meet{
    margin-top: 25px;
    
    
}
.bottomleft {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    
    
}
.fig {
    margin-top: 25px;
    
    
}
.portret1 {
    margin-top: 25px;
    
    
}
.portret2 {
    margin-top: 35px;
    margin-bottom: 5px;
    
    
}
.center {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    max-width: 20%;
    margin-right: 1%;
    white-space: nowrap;
   
}
.gmail {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    margin-left: 2%;
    border: none;

}

.ggicon{
    display: flex;
    box-sizing: 45px 45px;
    align-content: center;
    order: 1;

}
.name1{
    display: flex;
    font-size: 40px;
    color: rgb(90, 91, 93);
    background-color: white;
    order:2;
    outline: none;
}


.compose {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.composebut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 130px;
    height: 50px;
    font-size: 18px;
    color: rgb(90, 91, 93);
    border-radius: 10px;
    margin: 20px 0 0 10px;
    padding: 5px 5px 2px 5px;
    background-color: white;
    align-items: center;
    border: 1px solid rgb(212, 228, 254);
   
   
   
}
.composebut:hover{
    background-color: rgb(196, 232, 255);
    color: #000;
}
.pen{
    display: flex;
    height: 26px;
    width: 26px;
    order: 1;
    margin-right: 15px;
}
.textbutcom{
    display: flex;
    order: 2;
    padding-bottom: 7px;
}

.inbox_block {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    font-size: 18;
}
.inbox_block button{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    color: rgb(90, 91, 93);
    width: 100%;
    margin-bottom: 30px;

}
.inbox_block button:hover{
    background-color: rgb(212, 228, 254);
    color: #000;
}
.inbox_block img{
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-top: 3px;
}
.inbox_block p{
    display: flex;
    font-size: 18px;
    
}

.labels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 2%;
    font-size: 18px;
    background-color: white;
    justify-content: space-between;
    
    
}
.labname{
    display: flex;
    background-color: white;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 30px;
}
.labname button{
    display: flex;
    align-self: flex-end;
    height: 20px;
    width: 20px;
    background-image: url(../img/plus.png);
    background-size: 20px 20px;
    background-color: white;
    border-radius: 50%;
}
.labname img{
    display: flex;
    height: 20px;
    width: 20px; 
    align-self: flex-end ;
}
.labname p{
    display: flex;
    font-size: 20px;
    color: rgb(90, 91, 93);
    align-self: flex-start;
}
.labels2{
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: rgb(90, 91, 93);
    
}
.labels2 button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 18px;
    color: rgb(90, 91, 93);
    margin-bottom: 30px;
}
.labels2 button:hover{
    background-color: rgb(212, 228, 254);
    color: #000;
}
.labels2 img{
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-top: 3px;
}
.labels2{
    display: flex;
    font-size: 18px;
    color: rgb(90, 91, 93);
}
.scroll{
    overflow: scroll;
}

.right {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
    height: 100%;
    overflow: hidden;
    
   
}
.end{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
     
    padding: 3px;
}
.topright_end{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 5px;
    width: 7%;
    justify-content: space-between;
}
.topright_end button{
    background-color: white;
}
.search {
    display: flex;
    border-radius: 10px;
    background-color: rgb(240, 242,254);
    height: 50px;
    padding: 5px;
    width: 27%;
    margin: 5px 0 5px 0px;
}
input[type='textarea'] { 
    font-size: 18px;
    background-color: rgb(240, 242,254);
}
.active{
    display: flex;
    align-items: center;
    justify-items: flex-end;
}
.butact {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(212, 228, 254);
    width: max-content;
    height: max-content;
    border-radius: 10px ;
    background-color: white;
    align-items: center;
    padding: 5px;
    

}
.butact img{
    display: flex;
    order: 1;
    height: 10px;
    width: 10px;
}
.butact p{
    display: flex;
    order: 2;
    color: #000;
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 18px;
}

.que{
    display: flex;
    padding-left: 15px;
    align-self: center;
    height: max-content;
    width: max-content;
}
.que img{
    display: flex;
    height: 32px;
    width: 32px;
}
.settings {
    padding-left: 15px; 
    display: flex;
    align-self: center;
    height: max-content;
    width: max-content;
}
.settings img{
    display: flex;
    height: 30px;
    width: 30px;
}
.points {
     
    display: flex;
    padding-left: 15px;
    align-self: center;
    height: max-content;
    width: max-content;
}
.points img{
    display: flex;
    height: 30px;
    width: 30px;
}
.topright_end img{
    margin-left: 10px;
}
.centerright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px 5px 0px;
    
     
}   
.zadolbalo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 7%;
    margin-left: 0px;
    padding: 0;
  
}
.pustota{
    display: flex;
    order: 3;
   

    
}
.all {
   
    display: flex;
    align-self: center;
    justify-content: flex-start ;
    padding-left: 5px;
    order: 1;

}
.all button{
    background-color: white;
}

.update {
    display: flex;
    height: 18px;
    order: 2;
}
.update button{
    background-color: white;
}

.update img{
    height: 19px;
    width: 19px;
}
.num1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 7%;
}
.uzhas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.nav {
   
    display: flex;
    align-self: center;
    justify-content: center;
   
}
.nav button{
    background-color: white;
}
.nav img{
    height: 18px;
    width: 18px;
}
.bottomright {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: scroll;
    padding: 5px;
     
}
.list {
     
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    white-space: nowrap;
    

}
.list li {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    
    
}
.list li:hover{
    box-shadow: 0px 0px 5px;
}
.list li:not(:nth-child(-n+4)){
    background-color: rgb(240, 242,254) ;
}
.backli{
    background-color: rgb(240, 242,254);
    border-radius: 10px;
}
.allocated .name{
    
    color: #000;
}
.check{
    width: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.allocated .date{
    
    color: #000;
}
.name {
    display: flex;
    order: 1;
     
    width: 20%;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.mass {
    display: flex;
    order: 2;
    width: 73%;
    padding: 5px;
    overflow: hidden;
}
.mascont{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.date {
    text-align: center;
    margin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    order: 3;
     
    width: 7%;
    padding: 5px;
    
}



.control-group{
    padding-left: 30px;
}


.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 30px; 
    margin-bottom: 5px;
    padding-top: 0px;
    cursor: pointer;
    font-size: 18px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 22px;
    width: 22px;
    background: #F0F2FE;
    border: 2px solid #f8ad04;
    border-radius: 4px;
}
.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #F0F2FE;
}

.control input:checked ~ .control_indicator {
    background: #f8ad04;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #f8ad04;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 7px;
    top: 1px;
    width: 4px;
    height: 12px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
.control-checkbox .control_indicator::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 4.326rem;
    height: 4.5rem;
    margin-left: -1.3rem;
    margin-top: -1.204rem;
    background: #f8ad04;
    border-radius: 2.988rem;
    opacity: 0.2;
    z-index: 99999;
    transform: scale(0);
}
@keyframes s-ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
@keyframes s-ripple-dup {
   0% {
       transform: scale(0);
    }
   30% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
.control-checkbox input + .control_indicator::before {
    animation: s-ripple 250ms ease-out;
}
.control-checkbox input:checked + .control_indicator::before {
    animation-name: s-ripple-dup;
}
