@font-face {
	font-family: 'Noto Sans';
	src: url('../../fonts/NotoSans-Light.eot');
	src: local('☺'), url('../../fonts/NotoSans-Light.woff') format('woff'), url('../fonts/NotoSans-Light.ttf') format('truetype'), url('../fonts/NotoSans-Light.svg') format('svg');
	font-weight: light;
	font-style: normal;
}
@font-face {
	font-family: 'Noto Sans';
	src: url('../fonts/NotoSans-Medium.eot');
	src: local('☺'), url('../fonts/NotoSans-Medium.woff') format('woff'), url('../fonts/NotoSans-Medium.ttf') format('truetype'), url('../fonts/NotoSans-Medium.svg') format('svg');
	font-weight: medium;
	font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%

}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wapper {
    display: flex;
    font-family: 'Noto Sans';
    font-weight: 300;
    color: rgb(90, 91, 93);
    
    min-height: 100vh;
    max-width: 100vh;
    
}

.left button{
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(234, 240, 252);
}
.left button:hover{
    background-color: rgb( 209, 229, 254) ;
}
.b1{
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b2{
    background-image: url(../img/email.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b3{
    background-image: url(../img/chat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b4{
    background-image: url(../img/people.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b5{
    background-image: url(../img/online-meeting.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b6{
    background-image: url(../img/figures.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b7{
    background-image: url(../img/face-detection.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}
.b8{
    background-image: url(../img/face-id.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px, 25px;

}

.left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: max-content;
    border-right: 15px solid rgb(234, 240, 252);
    border-left: 15px solid rgb(234, 240, 252);
    background-color: rgb(234, 240, 252);
    
}
 
.topleft {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}
.menu {
    display: flex;
    
    margin-top: 15px;
}
.mail {
    margin-top: 25px;
    
}
.chat {
    margin-top: 25px;

}
.spaces {
    margin-top: 25px;
    
}
.meet{
    margin-top: 25px;
    
    
}
.bottomleft {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    
    
}
.fig {
    margin-top: 25px;
    
    
}
.portret1 {
    margin-top: 25px;
    
    
}
.portret2 {
    margin-top: 35px;
    margin-bottom: 5px;
    
    
}
.center {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 40vh;
    margin-right: 2%;
   
}
.gmail {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end ;
    margin-left: 2%;
    border: none;

}

.ggicon{
    display: flex;
    box-sizing: 45px 45px;
    align-content: center;
    order: 1;

}
.name{
    display: flex;
    font-size: 40px;
    color: rgb(90, 91, 93);
    background-color: white;
    order:2;
    outline: none;
}


.compose {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.composebut{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 130px;
    height: 50px;
    font-size: 18px;
    color: rgb(90, 91, 93);
    border-radius: 10px;
    margin: 20px 0 0 10px;
    padding: 5px 5px 2px 5px;
    background-color: white;
   
   
}
.composebut:hover{
    background-color: rgb(196, 232, 255);
    color: #000;
}
.pen{
    display: flex;
    height: 26px;
    width: 26px;
    order: 1;
    margin-right: 15px;
}
.textbutcom{
    display: flex;
    order: 2;
}

.inbox_block {
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    font-size: 18;
}
.inbox_block button{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
    color: rgb(90, 91, 93);

}
.inbox_block button:hover{
    background-color: rgb(212, 228, 254);
    color: #000;
}
.inbox_block img{
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-top: 3px;
}
.inbox_block p{
    display: flex;
    font-size: 18px;
    color: rgb(90, 91, 93);
}

.labels {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 2%;
    font-size: 18px;
    background-color: white;
    justify-content: space-between;
}
.labname{
    display: flex;
    background-color: white;
    justify-content: space-between;
    font-size: 20px;
}
.labname button{
    display: flex;
    align-self: flex-end;
    height: 20px;
    width: 20px;
    background-image: url(../img/plus.png);
    background-size: 20px 20px;
    background-color: white;
    border-radius: 50%;
}
.labname img{
    display: flex;
    height: 20px;
    width: 20px; 
    align-self: flex-end ;
}
.labname p{
    display: flex;
    font-size: 20px;
    color: rgb(90, 91, 93);
    align-self: flex-start;
}
.labels2{
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: rgb(90, 91, 93);
}
.labels2 button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Noto Sans';
    font-weight: 300;
    font-size: 18px;
    color: rgb(90, 91, 93);
}
.labels2 button:hover{
    background-color: rgb(212, 228, 254);
    color: #000;
}
.labels2 img{
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 15px;
    margin-top: 3px;
}
.labels2{
    display: flex;
    font-size: 20px;
    color: rgb(90, 91, 93);
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000;
    max-height: 100vh;
    max-width: 100vh;
}
.topright {
    border: 1px solid #000;
}
.search {
    border: 1px solid #000;
}
.active {
    border: 1px solid #000;
}
.que {
    border: 1px solid #000;
}
.settings {
    border: 1px solid #000;
}
.points {
    border: 1px solid #000;
}
.centerright {
    border: 1px solid #000;
}
.all {
    border: 1px solid #000;
}
.update {
    border: 1px solid #000;
}
.nav {
    border: 1px solid #000;
}
.bottomright {
    border: 1px solid #000;
}
.list {
    border: 1px solid #000;
}
.allocated {
    border: 1px solid #000;
}
.name {
    border: 1px solid #000;
}
.mass {
    border: 1px solid #000;
}
.date {
    border: 1px solid #000;
}
